*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(/Assets/images/waterfall.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding:0;
    margin: 0;
}
nav{
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    margin: 25px 5px;
}
nav .logo{
    width: 150px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin:5px 20px;
    padding:5px 10px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
.title{
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    position: absolute;
    font-size: 70px;
    /* -webkit-text-stroke: 1px #fff; */
    color: transparent;
    background-image:url(/Assets/images/waterfall3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position:-700px 0;
    animation: backcolor 7s linear infinite alternate;
}
@keyframes backcolor {
    100%{
        background-position: 0 0;
    }
    
}